footer {
  background-color: #081124;
}

footer .row {
  background-color: transparent;
}

.top-link {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  border-radius: 15px;
}

.top-link:hover {
  text-decoration: underline;
}