
.user-icon-btn {
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: #facc15;
  transition: transform 0.2s ease;
  filter: invert(1);
}

.user-icon-btn:hover {
  transform: scale(1.1);
}

.login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  background-color: #1f2937; 
  padding: 2rem;
  border-radius: 12px;
  width: 320px;
  border: 2px solid #374151; 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  text-align: left;

  transition: transform 0.2s, box-shadow 0.2s, border-color 0.2s;
  animation: pop 0.25s ease-out;
}

.login:hover {
  transform: scale(1.03);
  border-color: #facc15;
  box-shadow: 0 0 15px rgba(250, 204, 21, 0.4);
}

@keyframes pop {
  from { transform: scale(0.85); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 12px;
  background: none;
  border: none;
  font-size: 1.4rem;
  color: #facc15;
  cursor: pointer;
  transition: transform 0.2s;
}


.logsign-btn {
  background-color: #1f2937;
  color: white;
  border: none;
  padding: 8px 20px;
  cursor: pointer;
  margin-left: 16px;
  text-align: right;
}

.logsign-btn:hover {
  background-color: #374151;
}

.close-btn:hover {
  transform: scale(1.2);
}

.login h2 {
  color: white;
  margin-bottom: 1rem;
  text-align: center;
}


