.navbar {
    background-color: var(--color-secondary);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-radius: 15px;

    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(6px);
}

.nav-links {
    display: flex;
    gap: 1.5rem;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: 15px;
}

.nav-link:hover {
    text-decoration: underline;
}

.navbar-search {
    display: flex;
    gap: 10px;
    border-radius: 15px;
}

.navbar-search input {
    padding: 6px 10px;
    border-radius: 15px;
    border: 1px solid #414B63;
}

.navbar-search button {
    padding: 6px 12px;
    background-color: #414B63;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    border-radius: 15px;
}

.navbar-search button:hover {
    background-color: var(--color-accent);
}

h2:hover{
    cursor: pointer;
}