.movie-container {
    padding: 40px;
    max-width: 1200px;
    margin: auto;
    font-family: Arial, sans-serif;
    width: 100%;
    
    /* keep this */
    display: flex;
    flex-direction: column;
    
    min-height: 100vh;   /* täyttää koko sivun */
    background-color: var(--color-main);
    color: white; 
}

.movie-header {
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
}

.movie-poster {
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.movie-info h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.movie-info p {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.info-row {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin: 6px 0;
}

.genre-container {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.genre-tag {
  background: var(--color-secondary);
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 0.85rem;
  color: white;
}


.actor-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.actor-card {
    text-align: center;
}

.actor-card img {
    width: 150px;
    border-radius: 10px;
    margin-bottom: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.stars {
    font-size: 1.4rem;
    color: gold;
    margin-bottom: 10px;
}


.review-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.review-card {
    background: var(--color-secondary);
    padding: 15px;
    border-radius: 10px;
    border-left: 5px solid var(--color-accent);
}

.review-card h4 {
    margin-bottom: 8px;
}

.review-card p {
    margin: 4px 0;
}

.show-more-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: var(--color-accent);
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.show-more-btn:hover {
    background: #ff8433;
}

.user-review{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;;
}

.user-review-input {
  width: 500px;
  height: 200px;
  background-color: var(--color-secondary);
  padding: 8px;
}

.send-review-button{
    width: 100px;
    height: 40px;
    background: var(--color-accent);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s; 
}

.send-review-button:hover {
    background: #ff8433;
}


.user-review-star{
    color:gold;
    margin-bottom: 10px;
    border:none;
    background-color: var(--color-secondary);
    font-size: 1.4rem;
}

.review-buttons{
    display:flex;
    flex-direction: row;
    gap: 20px;
}

.review-edit-button{
    background: var(--color-accent);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.edit-review-input{
    width: 250px;
    height: 125px;
}

.edit-review-star{
    color:gold;
    margin-bottom: 10px;
    border:none;
    background-color: #1c1c1c;
    font-size: 1.4rem;
}

.fav-btn{
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    font-size: 28px;
    color: var(--color-accent);
    transition: transform 0.2s ease;
}

.fav-btn :hover{
    transform: scale(1.2);
}