
#container-ryhmasivu{
  display: flex;
}


#chat{
  display:flex;
  flex-direction: column;
  margin-left: 7%;
  width: 50%;
  height:1000px;
  padding: 10px;
  background-color: antiquewhite;
  color: #04AA6D;
}

#container-ryhmat{
  display:flex;
  flex-direction: column;
}

#container-kaikki-ryhmat{

  flex: 0 0 400px;
  
    overflow-y: scroll;
    scroll-behavior: smooth;
  width: 300px;
  border: 2px solid coral;
}

#container-omat-ryhmat{
  flex: 0 0 400px;
  
    overflow-y: scroll;
    scroll-behavior: smooth;
  width: 300px;
  border: 2px solid coral;
  
}

#container-ryhmat{
    
   gap:10px;
}

#viestit{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2ren;
}

#viesti{
  border: 2px solid black;
 
}

#laheta{
  margin-top:auto;
    display: flex;
    flex-direction: column;
    
}


#form-container {
  padding: 10px;
  background-color: antiquewhite;
}

h1{
    text-align: center;
}

textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
}


textarea:focus {
  background-color: #ddd;
  outline: none;
}


.btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  
  opacity: 0.8;
}


.btn:hover, .open-button:hover {
  opacity: 1;
  background-color: darkgreen;
  color: white;
}

#luoButton:hover{
  background-color: lightblue;
}

.ryhma-kontti{
  border: 2px solid grey;
}

.ryhma-kontti:hover{
  cursor: pointer;
  background-color: coral;
  
}

.ryhma-kontti:active{
  background-color: crimson;
}

.ryhma-kontti.active{
   background-color: coral;
}

#ryhman-nimi-otsikko{
  text-align: center;
}

#jasenlista-container{
  flex: 0 0 400px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 200px;
  border: 2px solid coral;
  margin-right: 0px;
  margin-left: auto;
}

#jasen{
  margin-top: 2rem;
  background-color: lightblue;
}

#jasen_nimi{
  color: crimson;
}

#jasen_rooli{
  color: #04AA6D;
}

#poista-jasen-button:hover{
  background-color: lightblue;
}