.settings-container{
    color: white;
    display:flex;
    flex-direction: row;
    gap: 10px;              
    padding: 20px;
    max-width: 1400px;
        
    margin: 0 auto;          
    box-sizing: border-box; 
}

.setting-buttons{
    display:flex;
    flex-direction: column;
}

.setting-box{
    flex: 0 0 250px;       
    background-color: var(--color-secondary);
    padding: 16px;
    border-radius: 8px;
    height:370px;
}

.setting-screen{
    flex: 1;                
    background-color: var(--color-secondary);
    padding: 16px;
    border-radius: 8px;
    justify-content: center; 
  align-items: center;    
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }
}

.setting-item{
    color: var(--text-light);
    padding: 10px;
    margin-top: 20px;
    border-radius: 15px;
    background-color: var(--color-secondary);
}


.setting-item:hover{
  cursor: pointer;
  color: var(--color-accent);
  text-decoration: underline;
}
.setting-item.active{
  color: var(--color-accent);
  text-decoration: underline;
}

.header{
    text-decoration: underline;
}
.change-password{
    display:flex;
    flex-direction: column;
    gap: 10px;
    padding:10px;
}

.change-password-button{
    width: 80px;
}

.remove-user-container{
    gap:10px;
    padding: 10px;
}

.user-settings-input{
    padding: 8px;
    border-radius: 8px;
    border: none;
}

