.app{
    background-color: #1f2937;
}

.container {
 
color:white;

width:100vw;
height:100vh;
display: flex;
flex-direction: column;
align-items: left;
justify-content: center;
background-color: #1f2937;
}

.movies-container{

    width: 1800px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.movie_img{
    border-radius: 1rem;
}

.movie_img:hover {
  transform: scale(1.05);
  border-color: #facc15;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(250, 204, 21, 0.4);
  cursor: pointer;
}

.scrollbox{
    scrollbar-width: thin;
}