:root {
  --color-main: #1f2937;      /* 60% */
  --color-secondary: #374151; /* 30% */
  --color-accent: #ff6600;    /* 10% */

  --text-light: #ffffff;
  --text-muted: #d1d5db;

  --color-primary: var(--color-main);
  --text-primary: var(--text-light);
}


.app {
  background-color: var(--color-main);
  color: var(--text-light);
  min-height: 100vh;
  padding-top: 80px;
}


.container {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
}
 


.movies-container {
  
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--color-primary);
  padding: 1rem 0;
  border-radius: 1rem;


}

.scroll-container {
  width: 100%;
  max-width: 1400px;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin-bottom: 50px;
  margin-left: 0;
  margin-right: auto;
  border: #ff6600;
  border-top: 2px solid var(--color-accent); 
  border-bottom: 2px solid var(--color-accent); 
  
}


.movie_img {
  border-radius: 1rem;
  transition: 0.2s ease;
  border: 2px solid transparent;
  margin-bottom: 5px;
}

.movie_img:hover {
  transform: scale(1.05);
  border-color: var(--color-accent);
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(250, 204, 21, 0.4);
  cursor: pointer;
}

.scrollbox {
  scrollbar-width: thin;
}

.scrollbox::-webkit-scrollbar {
  height: 6px;
}

.scrollbox::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border-radius: 20px;
}

.your-favorites-top{
  display: flex;
  flex-direction: row;

}

.nav-link{
  color: #ff6600;
  
}