
body,
html,
#root {
    background-color: var(--color-main);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    color: white;
    font-family: Arial, sans-serif;
    overflow: visible;
}

#root {
    display: flex;
    flex-direction: column;
    overflow: visible;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-accent);
    border-radius: 5px;
}