
body,
html,
#root {
    background-color: #0f1626;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    color: white;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #ff6600;
    border-radius: 5px;
}